@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Skillet Condensed";
  src: url("./assets/fonts/Fontspring-DEMO-skillet-regular.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Skillet Condensed", sans-serif;
}

button {
  font-family: "Source Serif Pro", serif;
}
